# Tarea M2 T01

## Ejercicio 1

Crear una lista con cuatro elementos que sean listas, y que globalmente recojan los meses del año, por trimestres.

In [2]:
trim_uno=["enero", "febrero", "marzo"]
trim_dos=["abril", "mayo", "junio"]
trim_tres=["julio", "agosto", "septiembre"]
trim_cuatro=["octubre", "noviembre", "diciembre"]

lista_anyo = [trim_uno, trim_dos, trim_tres, trim_cuatro]
lista_anyo

[['enero', 'febrero', 'marzo'],
 ['abril', 'mayo', 'junio'],
 ['julio', 'agosto', 'septiembre'],
 ['octubre', 'noviembre', 'diciembre']]

## Ejercicio 2

Crear código para acceder al segundo mes del primer trimestre, a los meses del segundo trimestre, y a "septiembre y octubre".

In [6]:
T1_mes2 = lista_anyo[0][1]

# Segundo mes del primer trimestre.
T1_mes2

'febrero'

In [7]:
T2 = lista_anyo[1]

# Los meses del segundo trimestre.
T2

['abril', 'mayo', 'junio']

In [10]:
sept_y_oct = [lista_anyo[2][2], lista_anyo[3][0]]

# El mes de septiembre y el mes de octubre.
sept_y_oct

['septiembre', 'octubre']

## Ejercicio 3

Crear una lista desordenada de números y responder:

* ¿Cuántos números hay?
    
* ¿Cuántas veces aparece el número tres?
    
* ¿Cuántas veces aparecen los números tres y cuatro?
    
* ¿Cuál es el número más grande?
    
* ¿Cuáles son los números más pequeños?
    
* ¿Cuál es el rango de la lista?

In [1]:
# Esta lista fue escrita aleatoriamente, a mano:

lista_desordenada= [3,6,1,9,6,4,0,9,11,5,5,3,2,6,8,9,78,6,1,1,432,8,0,9,0,7,9,2,72,8]

Cantidad de números (diferentes) que contiene la lista:

In [2]:
conjunto = set(lista_desordenada)  # Al convertir a "set", se eliminan las repeticiones.

len(conjunto)

14

Número de apariciones del número tres:

In [3]:
lista_desordenada.count(3)

2

Número de apariciones de los números tres y cuatro:

In [4]:
def mirar_tres_y_cuatro(list):
    tres = list.count(3)
    cuatro = list.count(4)
    
    print( "Hay " + str(tres) + " treses y " + str(cuatro) + " cuatros.")
    return tres, cuatro

mirar_tres_y_cuatro(lista_desordenada)

Hay 2 treses y 1 cuatros.

(2, 1)

Encontrar el valor máximo de la lista:

In [5]:
max(lista_desordenada)

432

Cuáles son los tres números más pequeños que hay en la lista:

In [6]:
lista_ordenada = lista_desordenada.copy()   # El copy() es para evitar modificar la lista original.
lista_ordenada.sort()

In [7]:
print(lista_ordenada)

[0, 0, 0, 1, 1, 1, 2, 2, 3, 3, 4, 5, 5, 6, 6, 6, 6, 7, 8, 8, 8, 9, 9, 9, 9, 9, 11, 72, 78, 432]

In [8]:
lista_ordenada[0:3]

# Vemos que los números más pequeños son tres ceros. O el cero, el uno y el dos, si no cuentan repetidos.

[0, 0, 0]

O si quisiéramos saber los números más pequeños, pero sin contar las repeticiones:

In [9]:
set_lista_ordenada = set(lista_ordenada)
unique_lista_ordenada = list(set_lista_ordenada)
unique_lista_ordenada[0:3]

[0, 1, 2]

Rango de la lista (diferencia entre el valor máximo y el mínimo):

In [11]:
max(lista_ordenada) - min(lista_ordenada)

432

## Ejercicio 4:

Crear el siguiente diccionario y resolver las siguientes cuestiones:

In [13]:
compra = { "Pomes" : {"Qty": 5, "€": 0.42}, "Peres" : {"Qty": 3, "€": 0.66} }

Añadir alguna fruta más:

In [15]:
compra.update({"Physalis": {"Qty": 99, "€": 0.99}})

In [16]:
compra

{'Pomes': {'Qty': 5, '€': 0.42},
 'Peres': {'Qty': 3, '€': 0.66},
 'Physalis': {'Qty': 99, '€': 0.99}}

¿Cuánto han costado las peras?

In [17]:
coste_peras = compra["Peres"]["€"]
print("Las peras costaron " + str(coste_peras) + " Euros.")

Las peras costaron 0.66 Euros.

¿Cuántas frutas hemos comprado?

In [18]:

cantidad_frutas = 0
for element in compra:
    cantidad_frutas = cantidad_frutas + compra[element]['Qty']
    
print("Hemos comprado " + str(cantidad_frutas) + " frutas.")

Hemos comprado 107 frutas.

¿Cuál es la fruta más cara?

In [20]:
precio_max = 0
fruta_cara = ""
for element in compra:
    precio = compra[element]["€"]
    if precio_max < precio:
        precio_max = precio
        fruta_cara= element
    else:
        precio_max = precio_max

print("El precio máximo es " + str(precio_max) + " Euros.")
print("La fruta más cara es el {}.".format(fruta_cara))

El precio máximo es 0.99 Euros.
La fruta más cara es el Physalis.